LLM_BASE_URL=

LLM_API_KEY=

LLM_CHAT_MODEL_NAME=

LLM_REQUEST_TIMEOUT=180

LLM_MAX_RETRIES=2


LLM_TEXT_EMBEDDING_BASE_URL=

LLM_TEXT_EMBEDDING_API_KEY=

LLM_TEXT_EMBEDDING_MODEL_NAME=

MLLM_BASE_URL=

MLLM_API_KEY=

MLLM_MODEL_NAME=

MLLM_REQUEST_TIMEOUT=180

MLLM_MAX_RETRIES=2

LOG_TIMEZONE=Asia/Shanghai
